* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

body, html {
   height: 100%;
   overflow: hidden;
}

#chat-interface {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#chat-area {
   height: 100%;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
}

.profile-container {
   position: relative;
   width: 2rem;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.profile-container img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.profile-container i.fa-user-circle {
   font-size: 2rem;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.message-profile-pic {
   width: 2.5rem;
   height: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.message-profile-pic i.fa-user-circle {
   font-size: 2.5rem;
}

#chat-area::-webkit-scrollbar {
   width: 6px;
}

#chat-area::-webkit-scrollbar-track {
   background: #374151;
}

#chat-area::-webkit-scrollbar-thumb {
   background: #4B5563;
   border-radius: 3px;
}

/* Panel de usuarios - Versión Móvil */
@media screen and (max-width: 767px) {
   #users-list {
       width: 170px;
       max-width: 170px;
       height: calc(100% - 64px - 72px);
       position: fixed;
       top: 64px;
       right: 0;
       background-color: #1F2937; 
       transform: translateX(100%);
       transition: transform 0.3s ease;
       overflow-y: auto;
       z-index: 40;
   }
   
   #chat-interface.shifted #users-list {
       transform: translateX(0);
   }
   
   #chat-interface.shifted .main-chat-area {
       transform: translateX(-170px);
   }
}

#users-list {
   -webkit-overflow-scrolling: touch;
}

/* Para escritorio */
@media (min-width: 768px) {
   #users-list {
       position: static;
       width: 250px;
       transform: none;
   }
}

body.panel-open {
   overflow: hidden;
}

@media screen and (max-height: 450px) {
   #users-list {
       top: 0;
   }
}